.vertical-centered-box{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); text-align:center; margin: 0 auto; background-color: White; border: 1px solid gray; padding:10px; box-shadow: 0px 0px 3px gray;}
.right-box {margin: 0 auto; position:relative; text-align: right;}
.user-photo {width: 20px; height:20px; vertical-align:middle; }
#header2{ border-bottom-style:solid; border-bottom-width: 1px; border-bottom-color: #AAA;  background-color:#FFF; width: 100%; height: 80px; box-shadow: 0px 0px 3px gray; }
body{ margin: 0px; border: 0px; padding 0px; background-image: url(../Imagenes/background.png); }
.right{ position: relative; margin-right:10px; margin-top:10px; text-align:right;} 
.box-central{background-color: rgba(255,255,255,0.7); padding:5px; width: 80%; box-shadow: 0px 0px 3px gray; margin: 0 auto; position: relative; }
.tabs{text-align:center;}
.tabs>li { list-style-type: none;  -moz-box-shadow:inset 0px 1px 0px 0px #75aee0; -webkit-box-shadow:inset 0px 1px 0px 0px #75aee0; box-shadow:inset 0px 1px 0px 0px #75aee0; background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #005ca7), color-stop(1, #004480)); background:-moz-linear-gradient(top, #005ca7 5%, #004480 100%); background:-webkit-linear-gradient(top, #005ca7 5%, #004480 100%); background:-o-linear-gradient(top, #005ca7 5%, #004480 100%); background:-ms-linear-gradient(top, #005ca7 5%, #004480 100%); background:linear-gradient(to bottom, #005ca7 5%, #004480 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#005ca7', endColorstr='#004480',GradientType=0); background-color:#005ca7; border-right:1px solid #022a4d; display:inline-block; color:#ffffff; font-family:Arial; font-size:11px; font-weight:normal; padding:6px 20px; text-decoration:none; text-shadow:0px 1px 0px #0a5ea8; cursor:pointer; border-top:1px solid #022a4d; border-bottom:1px solid #022a4d; }
.tabs>li:first-child{ border-left:1px solid #022a4d;}
.tabs>li:active { position:relative; top:1px; }
h1{ font-size:14px;}
#accionesPrevias, #hallazgos, #accionesMejora, #comentario { display:none;}
.disabled{ padding:5px; color:Gray; border: 1px solid #AAA;}
.btn-informe {background-image: url(../Imagenes/informe.png); background-repeat:no-repeat; background-size:100%; width:24px; height:24px; cursor:pointer; outline:none; border:none;}
.dark-side{position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.8); display:none; text-align:center;}
.pop-up{position:absolute; z-index:100; width:auto; min-width:400px; background-color:White; height: auto; display:none; left:50%; top:50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%);}
.pHeader{position:relative; background-color: #8A0829; color:White; text-align:center; font-size:14px;}
.pClose{position:absolute; right:4px; top:0px; font-size:12px; cursor:pointer;}
.contentP{padding: 10px; margin:10px;}
.tooltip{position: absolute; right:15px; border-radius:50px; background-color:Navy; color:White; width:25px; height:20px; text-align:center; font-size:12px; padding-top:1px; top: 0; cursor:pointer;}
.tooltip:hover > .cont_tp{ opacity:1; transition: all 1s; -ms-transition: all 1s; -webkit-transition: all 1s; -moz-transition: all 1s;}
.cont_tp{opacity:0; position: absolute; width:250px; left: -260px; background-color:rgba(0,0,0,0.8); top:0; border-radius: 5px; font-size:10px; transition: all 1s; -ms-transition: all 1s; -webkit-transition: all 1s; -moz-transition: all 1s;}
.sandbox{position:relative; text-align:center}
.sandbox > p{text-align:left;}
.textComentarios{width:98%; height:50px; margin: 0 auto; position: relative;}
#hallazgos_ad, #accionesMejora_ad{ display:none;}

/*Para la grilla*/

.grdFilas{background-color:White; font-family:Arial; font-size:10pt; color:Black;}
.grdCabecera{background-color:#8A0829; font-family:Arial; font-size:10pt; font-weight:bold;	color:White; }
.grdFilasAlternas{background-color:Silver; font-family:Arial; font-size:10pt; color:Black;}

/* Cajas de Texto */

.CajaTextoNormal
{
	border-width:1px;
	font-family:Arial;
	font-size:10pt;
	font-style:normal;
	text-align:left;
}

