<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SSIA2013" connectionString="Data Source=localhost;Initial Catalog=SSIA2013;User ID=sa;Password=password" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingSSL" crossDomainScriptAccessEnabled="true">
          <security mode="Transport" />
        </binding>
        <binding maxBufferSize="221855360" maxReceivedMessageSize="221855360"
          crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    
    <services>
      <service name="UPC.SSIA2013.WS.ServiceLibrary.Carrera">
        <endpoint address="SOAP" binding="wsHttpBinding" contract="UPC.SSIA2013.WS.ServiceContract.ICarrera" />
        <endpoint address="" behaviorConfiguration="RESTBehavior" binding="webHttpBinding"
          contract="UPC.SSIA2013.WS.ServiceContract.ICarrera" />
      </service>
		<service name="UPC.SSIA2013.WS.ServiceLibrary.Curso">
			<endpoint address="SOAP" binding="wsHttpBinding" contract="UPC.SSIA2013.WS.ServiceContract.ICurso" />
			<endpoint address="" behaviorConfiguration="RESTBehavior" binding="webHttpBinding"
			  contract="UPC.SSIA2013.WS.ServiceContract.ICurso" />
		</service>
		<service name="UPC.SSIA2013.WS.ServiceLibrary.Outcome">
			<endpoint address="SOAP" binding="wsHttpBinding" contract="UPC.SSIA2013.WS.ServiceContract.IOutcome" />
			<endpoint address="" behaviorConfiguration="RESTBehavior" binding="webHttpBinding"
			  contract="UPC.SSIA2013.WS.ServiceContract.IOutcome" />
		</service>
		<service name="UPC.SSIA2013.WS.ServiceLibrary.Periodo">
			<endpoint address="SOAP" binding="wsHttpBinding" contract="UPC.SSIA2013.WS.ServiceContract.IPeriodo" />
			<endpoint address="" behaviorConfiguration="RESTBehavior" binding="webHttpBinding"
			  contract="UPC.SSIA2013.WS.ServiceContract.IPeriodo" />
		</service>

        <!--GPPP Service-->
      <service name="UPC.SSIA2013.WS.ServiceLibrary.Alumno">
        <endpoint address="SOAP" binding="wsHttpBinding" contract="UPC.SSIA2013.WS.ServiceContract.IAlumno" />
        <endpoint address="" behaviorConfiguration="RESTBehavior" binding="webHttpBinding"
            contract="UPC.SSIA2013.WS.ServiceContract.IAlumno" />
      </service>

      <service name="UPC.SSIA2013.WS.ServiceLibrary.CompetenciaAbet">
        <endpoint address="SOAP" binding="wsHttpBinding" contract="UPC.SSIA2013.WS.ServiceContract.ICompetenciaAbet" />
        <endpoint address="" behaviorConfiguration="RESTBehavior" binding="webHttpBinding"
            contract="UPC.SSIA2013.WS.ServiceContract.ICompetenciaAbet" />
      </service>

      <service name="UPC.SSIA2013.WS.ServiceLibrary.Empresa">
        <endpoint address="SOAP" binding="wsHttpBinding" contract="UPC.SSIA2013.WS.ServiceContract.IEmpresa" />
        <endpoint address="" behaviorConfiguration="RESTBehavior" binding="webHttpBinding"
            contract="UPC.SSIA2013.WS.ServiceContract.IEmpresa" />
      </service>

      <service name="UPC.SSIA2013.WS.ServiceLibrary.Encuesta">
        <endpoint address="SOAP" binding="wsHttpBinding" contract="UPC.SSIA2013.WS.ServiceContract.IEncuesta" />
        <endpoint address="" behaviorConfiguration="RESTBehavior" binding="webHttpBinding"
            contract="UPC.SSIA2013.WS.ServiceContract.IEncuesta" />
      </service>

      <service name="UPC.SSIA2013.WS.ServiceLibrary.JefeDirecto">
        <endpoint address="SOAP" binding="wsHttpBinding" contract="UPC.SSIA2013.WS.ServiceContract.IJefeDirecto" />
        <endpoint address="" behaviorConfiguration="RESTBehavior" binding="webHttpBinding"
            contract="UPC.SSIA2013.WS.ServiceContract.IJefeDirecto" />
      </service>

      <service name="UPC.SSIA2013.WS.ServiceLibrary.MallaEncuesta">
        <endpoint address="SOAP" binding="wsHttpBinding" contract="UPC.SSIA2013.WS.ServiceContract.IMallaEncuesta" />
        <endpoint address="" behaviorConfiguration="RESTBehavior" binding="webHttpBinding"
            contract="UPC.SSIA2013.WS.ServiceContract.IMallaEncuesta" />
      </service>

      <service name="UPC.SSIA2013.WS.ServiceLibrary.PracticaPreProfesional">
        <endpoint address="SOAP" binding="wsHttpBinding" contract="UPC.SSIA2013.WS.ServiceContract.IPracticaPreProfesional" />
        <endpoint address="" behaviorConfiguration="RESTBehavior" binding="webHttpBinding"
            contract="UPC.SSIA2013.WS.ServiceContract.IPracticaPreProfesional" />
      </service>
        
    </services>
    
    

      <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <!--Behavior REST Endpoint-->
        <behavior name="RESTBehavior">
          <!---->
          <webHttp helpEnabled="true"/>
          <!--automaticFormatSelectionEnabled="true"-->
          <dataContractSerializer maxItemsInObjectGraph="100000"/>
        </behavior>
        <!--Behavior POX Endpoint-->
        <behavior name="POXBehavior">
          <webHttp helpEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="100000"/>
          <!--<enableWebScript />-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>


</configuration>
