<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICarrera" />
                <binding name="WSHttpBinding_ICurso" />
                <binding name="WSHttpBinding_IOutcome" />
                <binding name="WSHttpBinding_IPeriodo" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4526/CarreraWS.svc/SOAP"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICarrera"
                contract="CarreraWS.ICarrera" name="WSHttpBinding_ICarrera">
                <identity>
                    <userPrincipalName value="Andres-LAP\Andres" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:4526/CursoWS.svc/SOAP" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICurso" contract="CursoWS.ICurso"
                name="WSHttpBinding_ICurso">
                <identity>
                    <userPrincipalName value="Lenovo-PC\Lenovo" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:4526/OutcomeWS.svc/SOAP"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOutcome"
                contract="OutcomeWS.IOutcome" name="WSHttpBinding_IOutcome">
                <identity>
                    <userPrincipalName value="Lenovo-PC\Lenovo" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:4526/PeriodoWS.svc/SOAP"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPeriodo"
                contract="PeriodoWS.IPeriodo" name="WSHttpBinding_IPeriodo">
                <identity>
                    <userPrincipalName value="Lenovo-PC\Lenovo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>